.about {
    /* position: absolute;
    top: 37%;
    left: 30%; */

    /* display: flex; */
    /* flex-direction: column */
    /* margin-top: 5rem; */
    margin-top: 0rem; 

    
}
.about__greeting {
    color: #07C51A;
    font-family: Judson;
    font-size: 4rem;
    margin-bottom: 1rem;
}
    


.about__text {
    color: #EFEFEF;
    font-family: Judson;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2.7rem;
    margin-bottom: 4rem;
}

@media screen and (max-width: 1024px) {
    .about__greeting {
        font-size: 3rem;
    }

    .about__name {
        font-size: 2rem;
    }

    .about__text {
        font-size: 1.5rem;     
    }
}
@media screen and (max-width: 450px) {
    .about {
    margin-top: 3rem;  
    }   
    .about__greeting {
        font-size: 2rem;
    }
    .about__name {
        font-size: 1.5rem;
    }
    .about__text {
        font-size: 1rem;     
    }
}
