.pagination__arrow--left,
.pagination__arrow--right {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
}

.pagination__arrow--left {
    position: absolute;
    /* left: -10%; */
    left: -90px;
    top: 50%;
}
.pagination__arrow--right {
    position: absolute;
    /* right: -10%; */
    right: -90px;
    top: 50%
}
.pagination__button-text {
    display: none;
}

@media screen and (max-width: 1024px) {
    .pagination__arrow--left {
        left: -90px;
        top: 30%;
    }
    .pagination__arrow--right {
        right: -50px;
        top: 30%
    }
    .pagination__arrow--left,
    .pagination__arrow--right {
        width: 3rem;
        height: 3rem;
        flex-shrink: 0;
    }
}


@media screen and (max-width: 769px) {
    .pagination__small--left {
        /* left: -50px;
        top: 30%; */
        height: 2rem;
        /* display: none; */
    }
    .pagination__small--right {
        /* right: -40px;
        top: 30%; */
        height: 2rem;
        width: max-content;
        /* display: none; */
    }
    .pagination__button-text {
        display: flex;
        /* gap: 0.5rem; */
        justify-content: right;
    }
    .pagination__arrow--left,
    .pagination__arrow--right {
        display: none;
    }
}