.works {
    margin-top: 5rem;
    position: relative;
    height: 100%;
}

.works__greeting {
    color: #07C51A;
    font-family: Judson;
    font-size: 4rem;
    margin-bottom: 1rem;
}


.works__arrow--left,
.works__arrow--right {
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
}

.works__arrow--left {
    position: absolute;
    /* left: -10%; */
    left: -90px;
    top: 50%;
}
.works__arrow--right {
    position: absolute;
    /* right: -10%; */
    right: -90px;
    top: 50%
}

@media screen and (max-width: 450px) {
    .works {
        margin-top: 1rem;
    }
    .works__greeting {
        font-size: 2.2rem;
    }
}