 @import '../nav/nav.module.css';

.menubar {
    height: 100%;
    background: #1A1A1A;
    width: 10rem;
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: all 0.5s;
    /* justify-content: center; */
    border: 1px solid #07c514;
    z-index: 100;
}

.menu-icon {
    /* padding: 0.2rem;
    border: 1px solid #07c51a;
    border-radius: 0.3rem; */
    width:max-content;
    height: max-content;
    /* color: #07c51a; */
    cursor: pointer;
    margin-top: 2rem;
    border-bottom: 1px solid #07c514;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}
.aa:hover,
.aa:active {
    transform: translateY(-4px);
}
@media screen and (max-width: 769px) {

    .nav__container---box--name {
        display: none;
    }
    .nav__container:hover .nav__container---box--name {
        display: none;
    }

    .nav__container---box--link-contact {
        display: block;
    }
}
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Nunito&display=swap'); */


